<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techline: One of the World's Tech Blogs</title>
</head>
<body>
    {{!-- First just layout the grid --}}
    <div class="headerContainer">
        <header>
            {{!-- We will have the banner and the nav. Two rows. --}}
            <div class="flexRow" id="banner">

            </div>
            <div class="flexRow">
                
            </div>
        </header>
    </div>
</body>
</html>