{{!-- Card container --}}
<div class="card container" style="margin-top:1vh;">
    <div class="cardHeader centered flexrow">
        <h2>Login</h2>
    </div>
    <div class="cardBody centered flexrow">
        <div class="cardMain flexcol"> 
            <form action="/api/login" id="submit">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" autocomplete="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <span class="center"><input type="submit" value="Submit" autocomplete="password"></span>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>