<div class="flexCol bigBox">
    <div class="flexCol bigBoxHeader">
        {{user.username}}
    </div>
    <div class="flexCol bigBoxBody">
        <span style=""><b>E-Mail:</b>   <a class="unadornedAnchor" href="mailto:{{user.email}}">{{user.email}}</a></span>
    </div>
</div>