:root{
  --shadow: #1c2324;
}
::selection {
  background: #08b472; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #08b472; /* Gecko Browsers */
}

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #131314;
    overflow-x: hidden !important;
    margin-bottom: 40px;
}
input{
  width:inherit;
  margin-top:5px;
  margin-bottom: 5px;
  padding:3px;
}
textarea {
  resize: none;
}
.headerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.bodyContainer{
    margin-top: 50px;
    width: 100%;
}
.bigBox{
  width:100%;
  background-color: #010105;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 8px #2b2b2b;
}
.bigBoxHeader{
  color:white;
  padding:10px;
  border-bottom: 5px solid white;
  font-weight: 900;
  font-size: 30px;
}
.bigBoxBody{
  color:white;
  padding:30px;
  font-size: 16px;
  text-align: left;
  display: inline;
}
.unadornedAnchor{
  text-decoration: none;
  color: white;
}
.flex{
  display: flex;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.flexItem{
    display: flex;
    max-height: 100%;
    width: auto;
    margin-right: 30px;
}
.navButton{
    height: 100%;
}

.card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:0;
    background-color: #010105;
    margin-top: 70px;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
  }
  
  .cardHeader {
    color: white;
    border-bottom: 5px solid #26bbbb;
    text-align: center;
    padding:5px;
    padding-left: 15px;
    width: -moz-available;
    width:-webkit-fill-available;
    border-top-right-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow);
  }
  
  .cardBody {
    background-color: #0a0a0c;;
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow);
    overflow-wrap: anywhere;
    width: 100%;
  }
  
  .cardMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    color:turquoise;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
  }
  
  .cardMain a {
    margin-top: 10px; /* Add some spacing between the paragraph and the anchor */
  }
  
  .cardAside {
    align-items: flex-end;
    text-align: right;
  }
  
  .cardAsideImage {
    width: 100%;
    height: auto;
    max-height: 100%; /* Limit the height to the container's height */
    object-fit: contain; /* Maintain the aspect ratio and fit inside the square */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
.center{
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    justify-self: center !important;
    align-self: center !important;
}


#banner{
    background-color: #0c0c0c;
    height: 11vh;
}
#navbar{
    background-color: #b1b1b1;
    height: 4vh;
    justify-content: start;
    padding-left: 40px;
    padding-right: 40px;
}
#main{
    justify-content: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
#logo{
  width:100%;
}
#signup{
  margin-top: 20px;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 5px;
}
#singup:hover{
  box-shadow: 2px 2px 1px white;
}

@media screen and (max-width: 1300px) {
  #main{
    width:90%;
  }
}
@media screen and (max-width: 400px) {
  .flexItem{
    margin-right: 0;
  }
}
@media screen and (max-width: 300px) {
  .flexItem{
    margin-right: 0;
  }
  #navbar{
    padding-left: 0;
  }
}
@media screen and (max-width: 250px) {
  .navButton{
    width: 30px;
    height: 30px;
  }
  .flexItem {
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
  #navbar{
    padding-left: 7vw;
  }
}